@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body{
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}

.city{
	color:red;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
}

.weather-icon{
	width:20vw;
	height:20vh;
	margin:0 auto;
}

.weather-icon>i{
	font-size:150px;
}

.description{
	font-style: bold;
	font-size: 30px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.temperature{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 40px;
}

.humidity{
	height:10vh;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.pressure{
	height:10vh;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.windspeed{
	height:10vh;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.humidity>i{
	font-size:36px;
}

.pressure>i{
	font-size:36px;
}

.windspeed>i{
	font-size:36px
}

.footer{
	font-size: .75rem;
	margin-top: 20vh;
	font-family: 'Ubuntu Condensed', sans-serif;
}