body{
	background-size: cover;
	background-image: 
}

.city{
	color:red;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
}

.weather-icon{
	width:20vw;
	height:20vh;
	margin:0 auto;
}

.weather-icon>i{
	font-size:150px;
}

.description{
	font-style: bold;
	font-size: 30px;
}

.temperature{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 40px;
}

.humidity{
	height:10vh;
}

.pressure{
	height:10vh;
}

.windspeed{
	height:10vh;
}

.humidity>i{
	font-size:36px;
	color:purple;
}

.pressure>i{
	font-size:36px;
}

.windspeed>i{
	font-size:36px
}

.footer{
	font-size: .75rem;
	margin-top: 20vh;
}